.data-table {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 80%;
  margin: 0 auto;
}

.data-table__search {
  width: 30%;
  margin: 0 auto;
  padding: 8px;
}

.data-table__table {
  border-collapse: collapse;
}

.data-table__row {
  border-bottom: 1px solid #ececec;
}

.data-table__row--head {
  border-color: #a1a1a1;
}

.data-table__cell {
  padding: 10px;
  text-align: left;
}

.data-table__cell--head {
  background-color: #ececec;
}

.data-table__confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.data-table__confirmation-buttons {
  display: flex;
  gap: 10px;
}
